

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.x.com/"><i class="fa-brands fa-x-twitter"></i></a>
        </div>

        <div class="f-info-brand">&#169Vilasta Private Limited </div>

        <div class="f-info-links">
            <a href="/">Privacy</a> 
            <a  href="/">Terms</a>
        </div>

    </div>
</footer>