<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <% layout('layouts/boilerplate') %>
    <div class="col-7 offset-3">
    <h3>Enter the Details</h3>
    <form method="post" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input placeholder="enter the title" name="title" type="text" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <textarea name="description" placeholder="enter the description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Choose a image</label>
            <input placeholder="enter the image url" name="image"  class="form-control" type="file">
        </div>
     
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label"> Price</label>
                <input placeholder="enter the price" name="price"  class="form-control">
            </div>
            <div class="mb-3 col-8">
                <label for="location" class="form-label"> Location</label>
                <input placeholder="enter the location" name="location" type="text" class="form-control">
            </div>

        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input placeholder="enter the country" name="country" type="text" class="form-control">
        </div>
       
        <button class="btn btn-dark mb-3">Create</button>
    </form>
</div>
</body>
</html>
